@model KUSYS.Application.CourseMatchOp.CreateUpdateCourseMatchModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>CreateUpdateCourseMatchModel</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           
            <div class="form-group">
                <label asp-for="CourseId" class="control-label"></label>
                <select asp-for="CourseId" class="form-control"></select>
                <span asp-validation-for="CourseId" class="text-danger"></span>
            </div>
            <div class="form-group" style="display:none">
                <label asp-for="StudentId" class="control-label"></label>
                <input asp-for="StudentId" class="form-control" value="@ViewBag.id" />
                <span asp-validation-for="StudentId" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                </label>
            </div>
            <div class="form-group">
                <input type="button" value="Create" onclick="createCourseMatch()" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a href="/CourseMatchView/Index/@ViewBag.id">Back to List</a>
</div>


@section Scripts{

    <script>
        
        function createCourseMatch(){
            loadingBegin("container");

            var data = JSON.stringify({
                "createUpdateCourseMatchModel": {
                    "id": 0,
                    "courseId": $("#CourseId").val(),
                    "studentId": $("#StudentId").val(),
                    "isActive": Boolean($("#IsActive").val())
                }
            });
            $.ajax({
                url: "/CourseMatch",
                type: "post",
                data: data,
                headers: {
                    "Authorization": "Bearer " + getCookie("jwt-token"),
                    "content-type": "application/json",
                    "accept": "application/json"
                },
                success: function (result) {
                    console.log(result);
                    if (result.successful) {
                        window.location.href = "/CourseMatchView/Index/" + @ViewBag.id;

                    }else{
                        toastMessage("error", result.message, "")

                    }
                    loadingEnd("container");

                },
                error: function (error) {
                    console.log(error.responseJSON)
                    loadingEnd("container");

                    if (error.status == 401) {
                        toastMessage("error", error.responseJSON.title, "")
                    } else if (error.responseJSON.message == undefined) {
                        toastMessage("error", error.responseJSON.title, "")
                    }
                    else {
                        toastMessage("error", error.responseJSON.message, "")
                    }
                }
            });
        }
        $(document).ready(function () {
            loadingBegin("container");
            $.ajax({
                url: "/Course",
                type: "get",
                headers: {
                    "Authorization": "Bearer " + getCookie("jwt-token"),
                    "content-type": "application/json",
                    "accept": "application/json"
                },
                dataType: "json",
                success: function (result) {

                    $.ajax({
                        url: "/CourseMatch/GetByStudentId/" + $("#StudentId").val(),
                        type: "get",
                        headers: {
                            "Authorization": "Bearer " + getCookie("jwt-token"),
                            "content-type": "application/json",
                            "accept": "application/json"
                        },
                        dataType: "json",
                        success: function (courses) {
                            var selectElement = document.getElementById("CourseId");

                            result.forEach(function (item, index) {
                                if (findCourse(courses, item.id)) {
                                    var option = document.createElement("option");
                                    option.value = item.id;
                                    option.text = item.name;
                                    selectElement.appendChild(option)
                                }

                            })
                            loadingEnd("container");
                        },
                        error: function (error) {
                            console.log(error)
                            if (error.status == 401) {
                                toastMessage("error", error.responseJSON.title, "")
                            } else {
                                toastMessage("error", error.responseJSON.message, "")
                            }
                        }
                    });
                },
                error: function (error) {
                    console.log(error)
                    loadingEnd("container");
                    if (error.status == 401) {
                        toastMessage("error", error.responseJSON.title, "")
                    } else {
                        toastMessage("error", error.responseJSON.message, "")
                    }
                }
            });
        });
        function findCourse(data,id){
            console.log(data);
            for(var i = 0;i<data.length;i++){
                var item = data[i];
                if (item.courseId == id) {
                    return false;
                }
            }
            //data.forEach(function (item, index) {
            //    if(item.courseId == id){
            //        return false;
            //    }
            //});
            return true;
        }
        function getCourses(){
           
        }
    </script>
}